<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New Article Page</h1>
     <form action="/articles" method="POST">
    Title: <input type="text" name="title"><br/>
    Topic: <input type="text" name="topic"><br/>
    Published: <input type="text" name="published"><br/>
    <button type="submit">Create Article</button>
  </form>

    
</body>
</html>