<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New Author Page</h1>
     <form action="/authors" method="POST">
    Name: <input type="text" name="name"><br/>
    Age: <input type="text" name="age"><br/>
    Works: <input type="text" name="works"><br/>
    Profile Image: <input type="text" name="profileImage"><br/>
    <button type="submit">Create Author</button>
  </form>

</body>
</html>