<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Show Author Page</h1>
    
<p>
Hello! My name is <%= authors.name%> and I am <%=authors.age%> years old.<br>
Here you can find some of my work: <%=authors.works%><br>
Img: <img src='<%=authors.profileImage%>'>
</p>

</body>
</html>